<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>hello phaser!</title>
        <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
    </head>
    <body>

    <script type="text/javascript">
    	// var btnGroup.visible = false;
    	// var isOpen = false;
  		toggleLevel: function() {
          if(isOpen == true) {
            btnGroup.visible = false;
            isOpen = false;
          } else {
             btnGroup.visible = true;
             isOpen = true;
          }
     	}
    </script>

    </body>
</html>


 	